In [19]:
import pandas as pd
import glob

# WID_data_*.csv

In [ ]:
csv_files = glob.glob('WID_data_*.csv')

In [ ]:
df_list = [pd.read_csv(file, sep=';') for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

In [ ]:
combined_df.to_csv('combined_WID_data.csv', index=False)

# WID_metadata_*.csv

In [ ]:
csv_files_mtd = glob.glob('WID_metadata_*.csv')

In [ ]:
df_list_mtd = [pd.read_csv(file, sep=';') for file in csv_files_mtd]
combined_mtd_df = pd.concat(df_list_mtd, ignore_index=True)

In [ ]:
combined_mtd_df.to_csv('combined_WID_metadata.csv', index=False)

# Combinando Dataframes

In [ ]:
combined_df.columns

In [ ]:
combined_mtd_df.columns

# Filtrando dataframe final com colunas específicas

In [ ]:
result_df = pd.merge(combined_df, combined_mtd_df, on=['country', 'variable', 'age', 'pop'], how='inner')

In [ ]:
result_df.to_csv('combined_WID_full.csv', index=False)

In [ ]:
result_df = pd.read_csv('combined_WID_full.csv')

In [ ]:
filtered_result_df = result_df[['percentile', 'year', 'value', 'countryname', 'shortname', 'shorttype',
'shortpop', 'shortage', 'unit']]
filtered_result_df.head(3)

In [ ]:
filtered_result_df.to_csv('combined_WID_filtered.csv', index=False)

## Descrição das variáveis (Dados faltantes, tipos de dados, informações relacionadas e fontes)

In [20]:
df = pd.read_csv('combined_WID_filtered.csv')

/var/folders/tz/b2n936v51w33j36j_dvqfm6c0000gn/T/ipykernel_30611/681624273.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('combined_WID_filtered.csv')

In [21]:
df.shape

(49796375, 9)

In [22]:
df.describe()

               year         value
count  4.979638e+07  4.975868e+07
mean   1.998076e+03  1.755939e+13
std    2.137013e+01  6.211599e+17
min    1.807000e+03 -2.918593e+21
25%    1.990000e+03  3.000000e-01
50%    2.002000e+03  3.949000e+02
75%    2.012000e+03  1.309578e+05
max    2.023000e+03  5.786468e+20

In [23]:
(df.isnull().sum() / len(df))*100

percentile      0.000000
year            0.000000
value           0.075702
countryname     0.000000
shortname       0.000000
shorttype       0.000000
shortpop        0.000000
shortage        0.000000
unit           13.335800
dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49796375 entries, 0 to 49796374
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   percentile   object
 1   year         int64
 2   value        float64
 3   countryname  object
 4   shortname    object
 5   shorttype    object
 6   shortpop     object
 7   shortage     object
 8   unit         object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.3+ GB

# Renomeando as colunas

In [28]:
# Renomeando as colunas
renamed_df = df.rename(columns={
    'percentile': 'percentil',
    'year': 'ano',
    'value': 'valor',
    'countryname': 'pais',
    'shortname': 'indicador',
    'shorttype': 'tipo',
    'shortpop': 'populacao',
    'shortage': 'idade',
    'unit': 'unidade'
})

renamed_df.head(3)

,percentil,ano,valor,pais,indicador,tipo,populacao,idade,unidade
0,p0p100,1917,1168229.0,New Jersey,Population,Population,tax unit,Adults,population
1,p0p100,1918,1178440.0,New Jersey,Population,Population,tax unit,Adults,population
2,p0p100,1919,1204412.0,New Jersey,Population,Population,tax unit,Adults,population

In [29]:
renamed_df.columns

Index(['percentil', 'ano', 'valor', 'pais', 'indicador', 'tipo', 'populacao',
       'idade', 'unidade'],
      dtype='object')

# Removendo espaços em branco nas linhas

In [37]:
renamed_df = renamed_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/var/folders/tz/b2n936v51w33j36j_dvqfm6c0000gn/T/ipykernel_30611/2507704737.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  renamed_df = renamed_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

## Analisando as colunas

Analisando a coluna percentil

In [33]:
len(renamed_df['percentil'].unique())

456

In [31]:
renamed_df['percentil'].unique()

array(['p0p100', 'p0p90', 'p0p99', 'p90p100', 'p90p95', 'p95p100',
       'p95p99', 'p99.5p100', 'p99.5p99.9', 'p99.99p100', 'p99.9p100',
       'p99.9p99.99', 'p99p100', 'p99p99.5', 'p0p1', 'p0p10', 'p0p11',
       'p0p12', 'p0p13', 'p0p14', 'p0p15', 'p0p16', 'p0p17', 'p0p18',
       'p0p19', 'p0p2', 'p0p20', 'p0p21', 'p0p22', 'p0p23', 'p0p24',
       'p0p25', 'p0p26', 'p0p27', 'p0p28', 'p0p29', 'p0p3', 'p0p30',
       'p0p31', 'p0p32', 'p0p33', 'p0p34', 'p0p35', 'p0p36', 'p0p37',
       'p0p38', 'p0p39', 'p0p4', 'p0p40', 'p0p41', 'p0p42', 'p0p43',
       'p0p44', 'p0p45', 'p0p46', 'p0p47', 'p0p48', 'p0p49', 'p0p5',
       'p0p50', 'p0p51', 'p0p52', 'p0p53', 'p0p54', 'p0p55', 'p0p56',
       'p0p57', 'p0p58', 'p0p59', 'p0p6', 'p0p60', 'p0p61', 'p0p62',
       'p0p63', 'p0p64', 'p0p65', 'p0p66', 'p0p67', 'p0p68', 'p0p69',
       'p0p7', 'p0p70', 'p0p71', 'p0p72', 'p0p73', 'p0p74', 'p0p75',
       'p0p76', 'p0p77', 'p0p78', 'p0p79', 'p0p8', 'p0p80', 'p0p81',
       'p0p82', 'p0p83', 'p0p84', 'p0p85', 'p0p86', 'p0p87', 'p0p88',
       'p0p89', 'p0p9', 'p0p91', 'p0p92', 'p0p93', 'p0p94', 'p0p95',
       'p0p96', 'p0p97', 'p0p98', 'p0p99.1', 'p0p99.2', 'p0p99.3',
       'p0p99.4', 'p0p99.5', 'p0p99.6', 'p0p99.7', 'p0p99.8', 'p0p99.9',
       'p0p99.91', 'p0p99.92', 'p0p99.93', 'p0p99.94', 'p0p99.95',
       'p0p99.96', 'p0p99.97', 'p0p99.98', 'p0p99.99', 'p0p99.991',
       'p0p99.992', 'p0p99.993', 'p0p99.994', 'p0p99.995', 'p0p99.996',
       'p0p99.997', 'p0p99.998', 'p0p99.999', 'p10p100', 'p10p11',
       'p10p20', 'p11p100', 'p11p12', 'p12p100', 'p12p13', 'p13p100',
       'p13p14', 'p14p100', 'p14p15', 'p15p100', 'p15p16', 'p16p100',
       'p16p17', 'p17p100', 'p17p18', 'p18p100', 'p18p19', 'p19p100',
       'p19p20', 'p1p100', 'p1p2', 'p20p100', 'p20p21', 'p20p30',
       'p21p100', 'p21p22', 'p22p100', 'p22p23', 'p23p100', 'p23p24',
       'p24p100', 'p24p25', 'p25p100', 'p25p26', 'p26p100', 'p26p27',
       'p27p100', 'p27p28', 'p28p100', 'p28p29', 'p29p100', 'p29p30',
       'p2p100', 'p2p3', 'p30p100', 'p30p31', 'p30p40', 'p31p100',
       'p31p32', 'p32p100', 'p32p33', 'p33p100', 'p33p34', 'p34p100',
       'p34p35', 'p35p100', 'p35p36', 'p36p100', 'p36p37', 'p37p100',
       'p37p38', 'p38p100', 'p38p39', 'p39p100', 'p39p40', 'p3p100',
       'p3p4', 'p40p100', 'p40p41', 'p40p50', 'p41p100', 'p41p42',
       'p42p100', 'p42p43', 'p43p100', 'p43p44', 'p44p100', 'p44p45',
       'p45p100', 'p45p46', 'p46p100', 'p46p47', 'p47p100', 'p47p48',
       'p48p100', 'p48p49', 'p49p100', 'p49p50', 'p4p100', 'p4p5',
       'p50p100', 'p50p51', 'p50p60', 'p50p90', 'p51p100', 'p51p52',
       'p52p100', 'p52p53', 'p53p100', 'p53p54', 'p54p100', 'p54p55',
       'p55p100', 'p55p56', 'p56p100', 'p56p57', 'p57p100', 'p57p58',
       'p58p100', 'p58p59', 'p59p100', 'p59p60', 'p5p100', 'p5p6',
       'p60p100', 'p60p61', 'p60p70', 'p61p100', 'p61p62', 'p62p100',
       'p62p63', 'p63p100', 'p63p64', 'p64p100', 'p64p65', 'p65p100',
       'p65p66', 'p66p100', 'p66p67', 'p67p100', 'p67p68', 'p68p100',
       'p68p69', 'p69p100', 'p69p70', 'p6p100', 'p6p7', 'p70p100',
       'p70p71', 'p70p80', 'p71p100', 'p71p72', 'p72p100', 'p72p73',
       'p73p100', 'p73p74', 'p74p100', 'p74p75', 'p75p100', 'p75p76',
       'p76p100', 'p76p77', 'p77p100', 'p77p78', 'p78p100', 'p78p79',
       'p79p100', 'p79p80', 'p7p100', 'p7p8', 'p80p100', 'p80p81',
       'p80p90', 'p81p100', 'p81p82', 'p82p100', 'p82p83', 'p83p100',
       'p83p84', 'p84p100', 'p84p85', 'p85p100', 'p85p86', 'p86p100',
       'p86p87', 'p87p100', 'p87p88', 'p88p100', 'p88p89', 'p89p100',
       'p89p90', 'p8p100', 'p8p9', 'p90p91', 'p91p100', 'p91p92',
       'p92p100', 'p92p93', 'p93p100', 'p93p94', 'p94p100', 'p94p95',
       'p95p96', 'p96p100', 'p96p97', 'p97p100', 'p97p98', 'p98p100',
       'p98p99', 'p99.1p100', 'p99.1p99.2', 'p99.2p100', 'p99.2p99.3',
       'p99.3p100', 'p99.3p99.4', 'p99.4p100', 'p99.4p99.5', 'p99.5p99.6',
       'p99.6p100', 'p99.6p99.7', 'p99.7p100', 'p99.7p99.8', 'p99.8p100',
       'p99.8p99.9', 'p99.91p100', 'p99.91p99.92', 'p99.92p100',
       'p99.92p99.93', 'p99.93p100', 'p99.93p99.94', 'p99.94p100',
       'p99.94p99.95', 'p99.95p100', 'p99.95p99.96', 'p99.96p100',
       'p99.96p99.97', 'p99.97p100', 'p99.97p99.98', 'p99.98p100',
       'p99.98p99.99', 'p99.991p100', 'p99.991p99.992', 'p99.992p100',
       'p99.992p99.993', 'p99.993p100', 'p99.993p99.994', 'p99.994p100',
       'p99.994p99.995', 'p99.995p100', 'p99.995p99.996', 'p99.996p100',
       'p99.996p99.997', 'p99.997p100', 'p99.997p99.998', 'p99.998p100',
       'p99.998p99.999', 'p99.999p100', 'p99.99p99.991', 'p99.9p99.91',
       'p99p99.1', 'p9p10', 'p9p100', 'p98p99.1', 'p98p99.2',
       'p99.1p99.3', 'p99.8p99.91', 'p99.8p99.92', 'p99.8p99.93',
       'p99.91p99.93', 'p99.91p99.94', 'p99.91p99.95', 'p99.92p99.94',
       'p99.92p99.95', 'p99.93p99.95', 'p99.94p99.96', 'p99.98p99.991',
       'p99.98p99.992', 'p99.98p99.993', 'p99.991p99.993',
       'p99.991p99.995', 'p99.992p99.994', 'p99.992p99.995',
       'p99.992p99.996', 'p99.993p99.995', 'p99.994p99.996',
       'p99.995p99.997', 'p99.99p99.992', 'p99.99p99.993',
       'p99.99p99.994', 'p99.9p99.92', 'p99.9p99.93', 'p99.9p99.94',
       'p99p99.2', 'p0p0', 'p99.2p99.4', 'p99.3p99.5', 'p99.5p99.7',
       'p99.95p99.97', 'p90p99', 'p99.8p99.94', 'p99.92p99.96',
       'p99.98p99.994', 'p99.9p99.95', 'p99.4p99.6', 'p99.96p99.98',
       'p99.991p99.994', 'p99.993p99.996', 'p99.997p99.999', 'p99.75p100',
       'p99.95p99.99', 'p99.1p99.4', 'p99.2p99.5', 'p99.3p99.6',
       'p99.93p99.96', 'p99p99.3', 'p99p99.4', 'p98p99.3', 'p98p99.4',
       'p99.94p99.97', 'p99.994p99.997', 'p99.996p99.998', 'p99.6p99.8',
       'p99.99p99.995', 'p99.99p99.999', 'p99p99.9', 'p60p80'],
      dtype=object)

Analisando a coluna ano

In [36]:
renamed_df['ano'].min()

1807

In [35]:
renamed_df['ano'].max()

2023

Analisando a coluna pais

In [41]:
len(renamed_df['pais'].unique())

380

In [43]:
renamed_df['pais'].unique()

array(['New Jersey', 'Arkansas', 'the British Virgin Islands', 'Tonga',
       'Latin America', 'Other MENA', 'Mozambique', 'Namibia',
       'Liechtenstein', 'Myanmar', 'South Asia (at market exchange rate)',
       'the Central African Republic', 'Barbados',
       'the Netherlands Antilles', 'Bhutan', 'Angola', 'the Congo',
       'Other Russia & Central Asia (at market exchange rate)', 'Mali',
       'Other Latin America', 'the Middle East',
       'Sub-Saharan Africa (at market exchange rate)', 'Tunisia',
       'Wisconsin', 'Baden',
       'South & South-East Asia (at market exchange rate)', 'Louisiana',
       'Maine', 'Utah', 'Timor-Leste', 'Malaysia', 'Niue', 'Mongolia',
       'Bosnia and Herzegovina', 'Azerbaijan',
       'Central America (at market exchange rate)', 'Armenia',
       'Costa Rica', 'Czechoslovakia', 'Botswana', 'Albania',
       'the DR Congo', 'Sri Lanka', 'Macao', 'New Caledonia', 'Mexico',
       'MENA', 'Turkmenistan', 'Tanzania', 'Venezuela',
       'Other North America & Oceania (at market exchange rate)',
       'Colorado', 'New Hampshire', 'Mississippi', 'Maryland', 'Ohio',
       'Wurttemberg', 'Wyoming', 'Uzbekistan', 'the Holy See',
       'the Caribbean (at market exchange rate)', 'Nepal',
       'North Macedonia', 'Nigeria', 'Other Western Europe',
       'the Bahamas', 'Curacao', 'Bangladesh', 'Canada', 'Belgium',
       'Cabo Verde', 'Brazil', 'Anguilla', 'Other East Asia', 'Libya',
       'Thailand', 'Samoa', 'MENA (at market exchange rate)',
       'Other South & South-East Asia (at market exchange rate)',
       'Massachusetts', 'New Mexico', 'Montana', 'Oklahoma', 'Tajikistan',
       'South Africa (at market exchange rate)', 'Vanuatu',
       'Wallis and Futuna', 'Uruguay', 'the Channel Islands',
       'South Africa', 'the Marshall Islands', 'Bulgaria', 'Burkina Faso',
       'Bonaire, Sint Eustatius and Saba', 'Cuba', 'Niger',
       'Other Russia & Central Asia', 'Nauru', 'Zimbabwe',
       'Saint Vincent and the Grenadines', 'Tokelau',
       'Russia & Central Asia (at market exchange rate)', 'New York',
       'Central Asia (at market exchange rate)', 'Hawaii',
       'South Carolina', 'Hesse', 'West Asia', 'Palestine',
       'Saint Helena', 'the Cayman Islands', 'Iraq', 'Hungary',
       'Saint Kitts and Nevis', 'Estonia', 'Finland', 'Eritrea', 'Gambia',
       'Latin America (at market exchange rate)', 'Greenland', 'Spain',
       'Haiti', 'Slovenia', 'Puerto Rico', 'West Africa', 'Peru', 'Qatar',
       'Saxony', 'Illinois', 'Kansas', 'Indiana',
       'West Africa (at market exchange rate)', 'Papua New Guinea',
       'Americas (at market exchange rate)', 'Americas', 'Slovakia',
       'Romania', 'Kazakhstan', 'Ireland', 'Comoros', 'Iran', 'Guyana',
       'Guinea', 'Fiji', 'the Falkland Islands', 'Egypt', 'Iceland',
       'Indonesia', 'South Asia', 'Africa', 'the French Polynesia',
       'Other East Asia (at market exchange rate)', 'Prussia',
       'West Asia (at market exchange rate)', 'Senegal',
       'Oceania (excl. Australia and New Zealand)',
       'Syrian Arab Republic', 'Oceania', 'Cambodia',
       'Africa (at market exchange rate)', 'the Faroe Islands',
       'Ethiopia', 'Ecuador', 'Jamaica', 'Kiribati', 'Croatia',
       'Australia and New Zealand', 'Sint Maarten (Dutch part)',
       'North America', 'Somalia', 'Portugal', 'Bremen',
       'Other Western Europe (at market exchange rate)', 'South Dakota',
       'Georgia', 'East Africa (at market exchange rate)',
       'South America', 'San Marino', 'Europe', 'Swaziland', 'Panama',
       'Italy', 'Jordan', 'Ghana', 'the German Democratic Republic',
       'Germany', 'Gibraltar', 'Micronesia',
       'Other Sub-Saharan Africa (at market exchange rate)',
       'the Middle East (at market exchange rate)', 'Asia',
       'Sierra Leone', 'Palau', 'South-East Asia', 'Idaho',
       'District of Columbia', 'Saudi Arabia', 'El Salvador',
       'Saint Pierre and Miquelon', 'Central America', 'Kyrgyzstan',
       'North Korea', 'Hong Kong', 'Grenada', 'Greece', 'India',
       'the Caribbean', 'Serbia', 'Poland',
       'Middle Africa (at market exchange rate)', 'Paraguay',
       'Solomon Islands', 'Central Asia', 'the USSR', 'Israel', 'Kosovo',
       'Guernsey', 'Denmark',
       'Asia (excluding Middle East) (at market exchange rate)',
       'Equatorial Guinea', 'Djibouti', 'Korea', 'the Isle of Man',
       'Kenya', 'South America (at market exchange rate)', 'urban China',
       'Sao Tome and Principe', 'East Africa', 'Seychelles',
       'Australia and New Zealand (at market exchange rate)', 'Kentucky',
       'Delaware', 'North Africa', 'Pakistan', 'Western Europe',
       'Singapore', 'Jersey', 'Guam', 'the United Kingdom',
       'South-East Asia (at market exchange rate)', 'Guatemala',
       'the Dominican Republic', 'Kuwait', 'European Union',
       'Middle Africa', 'the Russian Federation', 'Pennsylvania',
       'Oceania (at market exchange rate)', 'Rhode Island', 'Florida',
       'Iowa', 'South Sudan', 'the Philippines', 'Rwanda', 'East Asia',
       'Sudan', 'Honduras', 'Dominica', 'France', 'Gabon', 'Algeria',
       'Western Sahara', 'Guinea-Bissau',
       'North Africa (at market exchange rate)', 'Japan', 'Sweden',
       'Eastern Europe', 'Suriname', 'Hamburg', 'North Carolina',
       'Missouri', 'North America & Oceania (at market exchange rate)',
       'Alabama', 'Washington', 'West Virginia',
       'Other MENA (at market exchange rate)', 'Viet Nam', 'Zanzibar',
       'Zambia', 'Russia & Central Asia', 'Moldova', 'Montserrat',
       'Antigua and Barbuda', 'Colombia', 'China', 'Benin',
       'Asia (at market exchange rate)', 'Cyprus', 'Afghanistan', 'Oman',
       'Latvia', 'Nicaragua', 'Mauritania', 'Lao PDR', 'Montenegro',
       'South & South-East Asia', 'Togo',
       'Oceania (excl. Australia and New Zealand) (at market exchange rate)',
       'Arizona', 'Minnesota', 'Tennessee', 'Ukraine', 'Turkey',
       'Sub-Saharan Africa', 'Yugoslavia', 'Saint Lucia', 'Madagascar',
       'Lithuania', 'the Northern Mariana Islands', 'Andorra', 'Chile',
       'Bahrain', 'American Samoa', 'Argentina', 'Burundi', 'Cameroon',
       'the United Arab Emirates', 'the Czech Republic',
       'Western Europe (at market exchange rate)', 'Luxembourg',
       'Saint Martin (French part)', 'Lebanon',
       'the World (at market exchange rate)', 'rural China', 'Chad',
       'Eastern Europe (at market exchange rate)', 'Bavaria', 'Texas',
       'Oregon', 'Nevada', 'Michigan', 'Nebraska', 'Vermont', 'Taiwan',
       'the USA', 'Other Sub-Saharan Africa', 'Mauritius',
       "Cote d'Ivoire", 'Bermuda', 'Belize', 'Aruba', 'Saint Barthelemy',
       'Switzerland', 'Monaco', 'Norway', 'Malta',
       'North America & Oceania', 'the US Virgin Islands', 'Tuvalu',
       'European Union (at market exchange rate)',
       'East Asia (at market exchange rate)', 'Connecticut', 'Alaska',
       'North Dakota', 'Other Latin America (at market exchange rate)',
       'California', 'Trinidad and Tobago', 'the World', 'Uganda',
       'the Turks and Caicos Islands', 'Maldives', 'Liberia',
       'Other South & South-East Asia', 'New Zealand', 'Morocco',
       'Brunei Darussalam', 'Australia', 'Belarus', 'the Cook Islands',
       'Austria', 'Bolivia', 'Other North America & Oceania', 'Lesotho',
       'the Netherlands', 'Malawi', 'Asia (excluding Middle East)',
       'Yemen', 'Europe (at market exchange rate)', 'Virginia',
       'North America (at market exchange rate)'], dtype=object)

Analisando a coluna indicador

In [42]:
len(renamed_df['indicador'].unique())

382

In [44]:
renamed_df['indicador'].unique()

array(['Population', 'Fiscal income', 'Pre-tax national income',
       'Number of tax returns', 'Household carbon footprint',
       'Household indirect footprint of other gases',
       'National CO2 footprint', 'National carbon footprint',
       'National footprint of other gases',
       'National net imports of CO2 emissions',
       'National net imports of carbon emissions',
       'National net imports of other gases',
       'National territorial CO2 emissions',
       'National territorial emissions',
       'National territorial emissions of other gases',
       'Territorial emissions of the national productive sector and other emissions not attributed to households (Other gases)',
       'Government CO2 footprint', 'Government carbon footprint',
       'Government footprint of other gases', 'Net foreign labor income',
       'Consumption of fixed capital of non-financial coporations',
       'Investment CO2 footprint',
       'Personal carbon footprint - investments part',
       'Investment footprint of other gases',
       'Compensation of employees received from the rest of the world',
       'Consumption of fixed capital', 'Final consumption expenditures',
       'NGO CO2 footprint', 'NGO carbon footprint',
       'NGO footprint of other gases', 'Defense', 'Economic affairs',
       'Education: Primary', 'Education: Secondary',
       'Education: Tertiary', 'Education', 'Environmental protection',
       'Net foreign direct investment income',
       'Foreign direct investment income paid to the rest of the world',
       'Foreign direct investment income received  from the rest of the world',
       'Foreign direct investment assets',
       'Foreign direct investment liabilities', 'Corporate income tax',
       'Foreign income paid to the rest of the world', 'Capital Account',
       'Consumption of fixed capital of financial coporations',
       'Capital transfers paid to  the rest of the world',
       'Capital transfers received from the rest of the world',
       'Net foreign labor and capital income',
       'Labor and capital income from the rest of the world',
       'Subsidies on production received from the rest of the world',
       'Taxes on production paid to the rest of the world',
       'Gross domestic product', 'Gross national income',
       'General public services (excluding interest payments)',
       'Gross operating surplus', 'Net public wealth',
       'Primary surplus of the governement',
       'Gross operating surplus and mixed income', 'Health',
       'Housing and community amenities',
       'Interest paid by the governement',
       'Gross operating surplus and miscellaneous', 'Indirect taxes',
       'Current Account = pinnx + comnx + tbnnx + opinx + scinx',
       'Net domestic product', 'Net foreign income', 'National income',
       'Net operating surplus of non-financial corporations',
       'Net operating surplus of NPISH', 'Non-tax revenue',
       'Net operating surplus and miscellaneous',
       'Market-value national wealth', 'Gross foreign assets',
       'Gross foreign liabilities',
       'Net operating surplus and mixed income of households and NPISH',
       'Net operating surplus and mixed income of households',
       'Net foreign assets',
       'Consumption of fixed capital of corporations',
       'Consumption of fixed capital of households and NPISH',
       'Consumption of fixed capital of households', 'Other taxes',
       'Consumption of fixed capital of NPISH',
       'Other taxes on production', 'Net foreign capital income',
       'Property income paid from the rest of the world',
       'Property income received from the rest of the world',
       'Personal income tax', 'Compensation of employees of NPISH',
       'Public order and safety',
       'Gross primary income of financial corporations',
       'Compensation of employees paid from the rest of the world',
       'Net primary income of households and NPISH',
       'Gross primary income of the general government',
       'Net primary income of households',
       'Net property income of non-financial corporations',
       'Debt Income paid from the rest of the world',
       'Debt Income received from the rest of the world', 'Debt assets',
       'Debt liabilities', 'Compensation of employees',
       'Equity Income paid from the rest of the world',
       'Gross primary income of households and NPISH',
       'Gross primary income of NPISH',
       'Net primary income of corporations',
       'Equity income received from the rest of the world',
       'Private expenditures of households',
       'Net property income of corporations', 'Equiy assets',
       'Private expenditures of households and NPISH',
       'Equity liabilities', 'Net portfolio income',
       'Portfolio and other income paid to the rest of the world',
       'Net reinvested earnings on foreign portfolio investment',
       'Reinvested earnings on foreign portfolio investment, paid to the rest of the world',
       'Reinvested earnings on foreign portfolio investment, received from the rest of the world',
       'Portfolio and other income received from the rest of the world',
       'Net secondary income of the general government',
       'Portfolio assets', 'Portfolio liabilities',
       'Recreation and culture',
       'Total Public Revenue (excluding non-tax revenue)',
       'Social protection: social assistance in cash',
       'Gross savings of NPISH',
       'Social protection: social assistance in kind',
       'Net savings of households', 'Gross savings of households',
       'Net remittances', 'Remittances paid to the rest of the world',
       'Remittances received from the rest of the world',
       'Social contributions', 'Gross national savings',
       'Net savings of the general government',
       'Gross secondary income of households and NPISH',
       'Gross secondary income of households',
       'Gross secondary income/Gross saving of non-financial corporations',
       'Social protection',
       'Net secondary income/Net saving of financial corporations',
       'Social benefits from private employer social insurance',
       'Net secondary income of NPISH',
       'Net secondary income/Net saving of corporations',
       'Social protection: social insurance',
       'Gross secondary income/Gross saving of financial corporations',
       'Gross secondary income of the general government',
       'Social contributions to private employer social insurance',
       'Direct taxes',
       'Foreign subsidies less taxes on production and imports',
       'Net secondary income of households',
       'Net secondary income/Net saving of non-financial corporations',
       'Social benefits other than social transfers in kind',
       'Imports of goods and services', 'Trade balace (exports-imports)',
       'Exports of goods and services',
       'Direct taxes on income and wealth', 'National income price index',
       'Personal taxes on income and wealth', 'Taxes on products',
       'Total Public Spending (excluding interest payment)',
       'Foreign income received from the rest of the world',
       'Labor and capital income paid to the rest of the world',
       'Private expenditures of NPISH', 'Other government spending',
       'Net property income of households',
       'Net property income of NPISH',
       'Gross primary income of corporations',
       'Reserves income received from the rest of the world',
       'Reserves assets', 'Property and wealth taxes',
       'Recreation, culture and religion', 'Total Public Revenue',
       'Net national savings',
       'Gross secondary income/Gross saving of corporations',
       'Corporate tax', 'General public services',
       'Net operating surplus of corporations',
       'Net operating surplus of financial corporations',
       'Offshore wealth', 'Gross primary income of households',
       'Gross primary income of non-financial corporations',
       'Net primary income of financial corporations',
       'Net primary income of non-financial corporations',
       'Net primary income of NPISH',
       'Net portfolio income, officially recorded',
       'Net property income of financial corporations',
       'Portfolio and other income paid to the rest of the world, officially recorded',
       'Foreign income received from tax havens',
       'Portfolio and other income received from the rest of the world, officially recorded',
       'Net savings of households and NPISH', 'Net savings of NPISH',
       'Consumption of fixed capital of the general goverment',
       'Net secondary income of households and NPISH',
       'Taxes on products and production',
       'Gross savings of the general government', 'Net private wealth',
       'Compensation of employees of households',
       'Taxes on production and imports', 'Net personal wealth',
       'Net primary income of the general government',
       'Gross secondary income of NPISH',
       'Gross savings of households and NPISH',
       'Subsidies on production and imports', 'Net other primary income',
       'Other primary income paid to the rest of the world',
       'Other primary income received from the rest of the world',
       'Net property income of households and NPISH',
       'Net property income of the government',
       'Net Public Wealth to Net National Income Ratio',
       'Net Private Wealth to Net National Income Ratio',
       'PPP conversion factor, LCU per EUR',
       'Market exchange rate, LCU per EUR',
       'PPP conversion factor, LCU per USD',
       'Market exchange rate, LCU per USD',
       'PPP conversion factor, LCU per CNY',
       'Market exchange rate, LCU per CNY',
       'Net national wealth to Net National Income Ratio',
       'Net Personal Wealth to Net National Income Ratio',
       'Pre-tax labor income [pre-tax labor income ranking]',
       'Household indirect CO2 footprint', 'Household direct emissions',
       'Household indirect carbon footprint',
       'Territorial emissions of the national productive sector and other emissions not attributed to households (CO2)',
       'Territorial emissions of the national productive sector and other emissions not attributed to households',
       'Pure capital income', 'Post-tax national income',
       'Consumption of fixed capital attributable to mixed income',
       'Consumption of fixed capital attributable to operating surplus',
       'Net operating surplus of households and NPISH',
       'Capital share of national income', 'Gross mixed income',
       'Gross operating surplus of households',
       'Net mixed income of households and NPISH',
       'personal carbon footprint - consumption part',
       'Personal CO2 footprint', 'Personal carbon footprint',
       'Net mixed income of households', 'Inequality transparency index',
       'Labor share of national income', 'Other subsidies on production',
       'Subsidies on products', 'Collective consumption expenditure',
       'Individual consumption expenditures', 'Environment protection',
       'Number of tax units - adults', 'Total tax population',
       'Post-tax disposable income',
       'Other subsidies on production received from the rest of the world',
       'Other foreign subsidies less taxes on production',
       'Foreign subsidies less taxes on products',
       'Other taxes on production paid to the rest of the world',
       'Taxes on products paid to the rest of the world',
       'Subsidies on products received from the rest of the world',
       'Corporate bonds & loans',
       'Corporate business and other non-financial assets',
       'Corporate equities', 'Corporate financial assets excluding cash',
       'Corporate currency, deposits, bonds & loans',
       'Corporate housing assets',
       'Corporate pension funds & life insurance',
       'Corporate debt (non-equity liability)',
       'Corporate equity, fund shares & offshore wealth',
       'Government business and other non-financial assets',
       'Government equities',
       'Government currency, deposits, bonds & loans',
       'Government housing assets',
       'Government land underlying dwellings',
       'Government pension funds & life insurance',
       'Government dwellings', 'Government natural capital',
       'Government financial assets excluding cash',
       'National agricultural land', 'Book-value national wealth',
       'National housing assets', 'National non-financial assets',
       'National natural capital', 'National other domestic capital',
       'Non-profit currency & deposits', 'Non-profit dwellings',
       'Non-profit equities', 'Non-profit land underlying dwellings',
       'Non-profit housing assets', 'Non-profit other domestic capital',
       'Residual corporate wealth', 'Private housing assets',
       'Private natural capital', 'Other domestic private capital',
       'Private pension funds & life insurance',
       'Private business assets', 'Private debt',
       'Private equity, fund shares & offshore wealth',
       'Private dwellings', 'Private financial assets',
       'Government currency & deposits', "Tobin's Q",
       'Market value of corporations (equity liability)',
       'Corporate non-financial assets', 'Personal equities',
       'Personal other domestic capital',
       'Personal pension funds & life insurance', 'Non-profit debt',
       'Corporate other domestic capital', 'Government bonds & loans',
       'Corporate currency & deposits', 'Corporate dwellings',
       'Corporate land underlying dwellings',
       'Corporate financial assets', 'Corporate natural capital',
       'National business and other non-financial assets',
       'National dwellings', 'Book value of corporations',
       'Government financial assets',
       'National land underlying dwellings',
       'Non-profit financial assets excluding cash',
       'Non-profit currency, deposits, bonds & loans',
       'Non-profit natural capital', 'Private agricultural land',
       'Private currency, deposits, bonds & loans',
       'Private non-financial assets',
       'Private land underlying dwellings',
       'Government non-financial assets',
       'Government other domestic capital',
       'Personal business and other non-financial assets',
       'Personal dwellings', 'Net non-profit wealth', 'Government debt',
       'Employed population',
       'Non-profit business and other non-financial assets',
       'Domestic financial assets', 'Domestic financial liabilities',
       'Private currency & deposits', 'Personal agricultural land',
       'Personal bonds & loans', 'Personal currency & deposits',
       'Personal debt',
       'Personal financial assets excluding currency & deposits',
       'Personal currency, bonds & deposits', 'Personal housing assets',
       'Personal natural capital', 'Non-profit agricultural land',
       'Non-profit bonds & loans', 'Personal non-financial assets',
       'Non-profit non-financial assets', 'Private bonds & loans',
       'Private equities',
       'Private financial assets excluding currency & deposits',
       'Corporate agricultural land', 'Personal financial assets',
       'Non-profit financial assets',
       'Net Non-Profit Wealth to Net National Income Ratio',
       'Personal land underlying dwellings',
       'Non-profit pension funds & life insurance',
       'Government agricultural land',
       'Number of tax units - married couples & single adults',
       'Fiscal capital income [total fiscal income ranking]', 'Dividends',
       'Interest', 'Capital gains',
       'Fiscal labour income [total fiscal income ranking]',
       'Capital component of mixed income',
       'Labour component of mixed income', 'Mixed income',
       'Wages and pensions',
       'Government equity, fund shares & offshore wealth',
       'Income reduction as a result of income tax',
       'Pre-tax capital income [total pre-tax income ranking]',
       'Pre-tax labor income [total pre-tax income ranking]',
       'Personal equity, fund shares & offshore wealth',
       'Private offshore wealth',
       'Non-profit equity, fund shares & offshore wealth', 'Rents',
       'Personal offshore wealth',
       'Factor labor income [total pre-tax factor income ranking]',
       'Pre-tax capital income [pre-tax capital income ranking]',
       'Net Corporate Wealth to Net National Income Ratio',
       'Interest payments', 'Pre-tax factor income',
       'Housing asset income', 'Equity asset income', 'Interest income',
       'Factor capital income [total pre-tax factor income ranking]',
       'Pensions and life insurance asset income',
       'Labor component of net mixed income',
       'Pensions and social insurance income (labor share)'], dtype=object)

Analisando a coluna tipo

In [45]:
len(renamed_df['tipo'].unique())

16

In [46]:
renamed_df['tipo'].unique()

array(['Population', 'Average', 'Share', 'Total', 'Total emissions',
       'Per-capita emissions', 'Indices', 'Wealth-income ratio',
       'Exchange rates', 'Threshold', 'Beta coefficient',
       'Gini coefficient', 'Top 10/Bottom 50 ratio',
       'Average per capita group emissions', 'Female pop.',
       'Proportion of women in group'], dtype=object)

Analisando a coluna populacao

In [47]:
len(renamed_df['populacao'].unique())

5

In [48]:
renamed_df['populacao'].unique()

array(['tax unit', 'individuals', 'female', 'male', 'equal-split adults'],
      dtype=object)

Analisando a coluna idade

In [49]:
len(renamed_df['idade'].unique())

38

In [50]:
renamed_df['idade'].unique()

array(['Adults', 'All Ages', '0 to 4', '5 to 9', '10 to 14', '100+',
       '15 to 19', '20 to 24', '20 to 29', '25 to 29', '30 to 34',
       '30 to 39', '35 to 39', '40 to 44', '40 to 49', '45 to 49',
       '50 to 54', '50 to 59', '55 to 59', '60 to 64', '60 to 69',
       '65 to 69', '70 to 74', '70 to 79', '75 to 79', '80 to 84',
       '80 to 89', '85 to 89', '90 to 94', '90 to 99', '95 to 99',
       'Children', '20 to 39', '40 to 59', 'Over 60', '20 to 64',
       'Over 65', 'Over 80'], dtype=object)

Analisando a coluna unidade

In [51]:
len(renamed_df['unidade'].unique())

161

In [52]:
renamed_df['unidade'].unique()

array(['population', 'USD', 'share', 'MtCO2e', 'tCO2e', nan,
       '% of national income', 'local currency per foreign currency',
       'TOP', 'EUR', 'MZN', 'tCO2 equivalent/cap', 'NAD', 'CHF', 'MMK',
       'XAF', 'BBD', 'BTN', 'AOA', 'XOF', 'TND', 'MYR', 'MNT', 'BAM',
       'AZN', 'AMD', 'CRC', 'CZK', 'BWP', 'ALL', 'CDF', 'LKR', 'MOP',
       'XPF', 'MXN', 'TMT', 'TZS', 'VEF', 'UZS', 'NPR', 'MKD', 'NGN',
       'BSD', 'ANG', 'BDT', 'CAD', 'CVE', 'BRL', 'XCD', 'LYD', 'THB',
       'WST', 'TJS', 'VUV', 'UYU', 'GBP', 'ZAR', 'BGN', 'CUP', 'AUD',
       'ILS', 'KYD', 'IQD', 'HUF', 'ERN', 'GMD', 'DKK', 'HTG', 'PEN',
       'QAR', 'PGK', 'RON', 'KZT', 'KMF', 'IRR', 'GYD', 'GNF', 'FJD',
       'EGP', 'ISK', 'IDR', 'SYP', 'KHR', 'ETB', 'JMD', 'HRK', 'SOS',
       'SZL', 'PAB', 'JOD', 'GHS', 'GIP', 'SLL', 'SAR', 'KGS', 'KPW',
       'HKD', 'GEL', 'INR', 'RSD', 'PLN', 'PYG', 'SBD', 'RUB', 'DJF',
       'KRW', 'KES', 'CNY', 'STN', 'SCR', 'PKR', 'SGD', 'GTQ', 'DOP',
       'KWD', 'SSP', 'PHP', 'RWF', 'SDG', 'HNL', '% of population', 'DZD',
       'JPY', 'SEK', 'SRD', 'VND', 'ZMW', 'MDL', 'COP', 'AFN', 'OMR',
       'NIO', 'MRU', 'LAK', 'UAH', 'TRY', 'YUN', 'MGA', 'CLP', 'BHD',
       'ARS', 'BIF', 'AED', 'LBP', 'TWD', 'MUR', 'BMD', 'BZD', 'AWG',
       'NOK', 'TTD', 'UGX', 'MVR', 'NZD', 'MAD', 'BND', 'BYN', 'BOB',
       'LSL', 'MWK', 'YER'], dtype=object)

Analisando a coluna valor

In [55]:
valores_nulos = renamed_df[renamed_df['valor'].isnull() == True]

In [59]:
len(valores_nulos)

37697

In [56]:
valores_nulos['pais'].unique()

array(['Taiwan', 'the Netherlands'], dtype=object)

In [57]:
valores_nulos['indicador'].unique()

array(['personal carbon footprint - consumption part',
       'Personal carbon footprint - investments part',
       'Net personal wealth'], dtype=object)

In [60]:
# Antes de remover os dados nulos da coluna valor
len(renamed_df)

49796375

In [61]:
renamed_df.dropna(subset=['valor'], inplace=True)

In [62]:
len(renamed_df)

49758678

In [63]:
49796375 - 49758678

37697

In [64]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49758678 entries, 0 to 49796374
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   percentil  object
 1   ano        int64
 2   valor      float64
 3   pais       object
 4   indicador  object
 5   tipo       object
 6   populacao  object
 7   idade      object
 8   unidade    object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.7+ GB

In [65]:
renamed_df.describe()

                ano         valor
count  4.975868e+07  4.975868e+07
mean   1.998111e+03  1.755939e+13
std    2.131548e+01  6.211599e+17
min    1.807000e+03 -2.918593e+21
25%    1.990000e+03  3.000000e-01
50%    2.002000e+03  3.949000e+02
75%    2.012000e+03  1.309578e+05
max    2.023000e+03  5.786468e+20

In [66]:
print(renamed_df.isnull().sum())

percentil          0
ano                0
valor              0
pais               0
indicador          0
tipo               0
populacao          0
idade              0
unidade      6640745
dtype: int64

In [67]:
'''
Salvando o arquivo combinado final:
    - com colunas espeficicas e renomeadas
    - remoção de espaços em branco nos textos das colunas 
    - remoção de linhas com valores nulos 
'''
renamed_df.to_csv('combined_WID_cleaned.csv', index=False)